  body 
      { 
      background: black;

      }



    #canvas{
      background: #000;
    }

      #questionbox {

       color: white; 
       font: center;
       font-family: 'Open Sans', sans-serif;
      font-family: 'Arvo', serif;
      margin: 30px;
      }

  .HintBox 
    {
       color: white; 
       font: center;
       max-height: 200px;
       font-family: 'Open Sans', sans-serif;
        font-family: 'Arvo', serif;
        margin: 0px;
        background-color: black;
      }

   #image-holder {

        /* Positioning */
         margin: 20px;
     background:black;
        /* Box-model */

        /* Typography */
        text-align: center;
        font-family: 'Slabo 27px', serif; 

      }

      #buttons {

        /* Positioning */
        margin: 30px 0;
      
        /* Typography */
        text-align: center;
        font-family: 'Slabo 27px', serif; 
        font: black;
      }

      #buttonbox
      {

      }

/*button code */

.btn-lg.round {
  border-radius: 24px;
      background: #0099cc;
      color: #fff;
}

.btn {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
      color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
      color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
 
.btn-primary:active, .btn-primary.active {
     color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
    box-shadow: none;
}